.main_title {
    color: #2196f3;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  }
  .subtitle {
    color: #212121;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .email {
    text-decoration: none;
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .number {
    text-decoration: none;
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .section_page {
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    width: 1600px;
   
    left: -4px;
    top: 165px;
    background: #2f303a;
    margin:0 ;
  }
  .push {
    color: #ffffff;
    width: 261px;
    height: 30px;
    background: #2196f3;
  }
  .section_list{
      list-style: none;
  }
  .atention {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .text {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .exactly {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .plan {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .computer {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .what {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .our {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
  }
  .andres {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .text5 {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .carla {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .text6 {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .mario {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .text7 {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .pablo {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .text8 {
    color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .WebStudio {
    color: #2196f3;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    background: #2f303a;
  }
  .address_paragraph{
      margin: 0;
  }
  .black {
      color: #757575;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    }
  .email {
      text-decoration: none;
      color: #757575;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      }